.hidden {
  display: none;
}

/* Estilo para hacer que el botón flote */
.floating {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  /* Puedes personalizar la posición y otros estilos según tus necesidades */
}

.custom-close-btn {
  margin-left: auto;
}